.flecha {
    width: 0px;
    height: 0px;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 50px solid rgb(42, 45, 46);
    border-right: 10px solid transparent;
    box-shadow: -40px 0px 0px -5px,
                -80px 0px 0px -5px,
                -40px 0px 0px -5px rgba(30, 31, 31, 0.205),
                -80px 0px 0px -5px rgba(20, 20, 20, 0.144);
    transform: scale(0.8);
    color: gray;
    margin-top: 40px;

}
.golpeMano {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0.384),
                -10px 20px 0px 10px rgba(255, 255, 255, 0.103),
                0px 0px 0px 20px,
                -10px 20px 0px 10px;
    background-color: rgba(255, 255, 255, 0.671);
    margin-top: 30px;

}
.navaja {
    width: 10px;
    height: 0px;
    border-bottom: 10px solid transparent;
    border-top: 5px solid transparent;
    border-left: 50px solid gray;
    border-right: 5px solid transparent;
    box-shadow: -50px 0px 0px 0px gray;
}
.garra {
    height: 0px;
    border-bottom: 10px solid;
    border-top: 5px solid transparent;
    border-left: 90px solid transparent;
    border-right: 50px solid transparent;
    margin-top: 70px;
    color: black;
}
.colmillo {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    animation: morder 0.4s 1 forwards;
    margin-top: 50px;

}
.pokeball {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    box-shadow: 0px -5px 0px 5px,
                0px 5px 0px 5px white;
    background-color: black;
    animation: rotate 0.4s infinite;
}
.martillo {
    width: 50px;
    height: 50px;
    box-shadow: 90px 0px 0px 20px,
                150px 0px 0px 20px,
                100px 50px 0px 0px rgba(0, 0, 0, 0.384),
                100px 100px 0px 0px rgba(17, 17, 17, 0.384),
                100px 50px 0px 0px,
                100px 100px 0px 0px;
}
.fatuo {
    width: 50px;
    border-radius: 100%;
    box-shadow: 20px 0px 15px 0px rgba(140, 0, 255, 0.705),
                -20px 0px 15px 0px rgba(33, 129, 255, 0.596) ;
    animation: rotar 0.3s normal infinite;
    position: absolute;
    background-color: rgba(236, 22, 255, 0.247);
}
@keyframes rotar {
    0% {
        transform: rotate(0deg);
        height: 50px;
    }
    50% {
        transform: rotate(180deg);
        height: 100px;

    }
    100% {
        transform: rotate(360deg);
        height: 50px;

    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes morder {
    0% {
        box-shadow: 0px 50px 5px 5px,
                0px -50px 5px 5px;
    }
    100% {
        box-shadow: 20px 10px 20px 20px,
                20px -10px 20px 20px;
    }
}