.flecha {
    width: 0px;
    height: 0px;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 50px solid rgb(42, 45, 46);
    border-right: 10px solid transparent;
    box-shadow: -40px 0px 0px -5px rgb(30, 31, 31),
                -80px 0px 0px -5px rgb(20, 20, 20);
    transform: scale(0.8);
    margin-top: 40px;

}
.golpeMano {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0.671),
                -10px 20px 0px 10px rgba(255, 255, 255, 0.568);
    background-color: rgba(255, 255, 255, 0.671);
    margin-top: 30px;

}
.navaja {
    width: 10px;
    height: 0px;
    border-bottom: 10px solid transparent;
    border-top: 5px solid transparent;
    border-left: 50px solid gray;
    border-right: 5px solid transparent;
    box-shadow: -50px 0px 0px 0px gray;
}
.garra {
    height: 0px;
    border-bottom: 30px solid black;
    border-top: 5px solid transparent;
    border-left: 90px solid transparent;
    border-right: 50px solid transparent;
    margin-top: 90px;
   
}
