.house, .shop {
    width: 50px;
    height: 100px;
    border: none;
    box-shadow: 0px -100px 0px 1px rgb(112, 80, 10),
                -50px -100px 0px 1px white,
                -100px -100px 0px 1px white,
                50px -100px 0px 1px white,
                100px -100px 0px 1px white,
                50px -150px 0px 1px skyblue,
                -50px -150px 0px 1px skyblue,
                100px -180px 0px 1px white,
                50px -180px 0px 1px white,
                0px -180px 0px 1px white,
                -50px -180px 0px 1px white,
                -100px -180px 0px 1px white,
                100px -220px 0px 1px,
                50px -220px 0px 1px,
                0px -220px 0px 1px,
                -50px -220px 0px 1px,
                -100px -220px 0px 1px;

}
.house {
    color: brown
}
.shop {
    color: blue
}
.cesped {
    background-image: url(../bgs/cesped.png);
    background-size: 100px;
}
.ceramica {
    background-image: url(../bgs/ceramica.png);
    background-size: 130px;
    border-radius: 50px;
    border: solid 5px rgb(134, 101, 35);
}
.casa, .tienda, .centro {
    border: none;

}
.casa::before, .tienda::before {
    content: "";
    width: 200px;
    height: 300px;
    background-image: url(../bgs/casa.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    top: -190px;
    left: -53px;
}
.tienda::before {
    left: -80px;
    background-image: url(../bgs/casaVerde.png);
}
.centro::before {
    content: "";
    width: 270px;
    height: 300px;
    background-image: url(../bgs/centro.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    top: -197px;
    left: -78px;
}
.lab {
    width: 50px;
    height: 100px;
    border: none;
    box-shadow: 0px -100px 0px 1px rgb(112, 80, 10),
                -50px -100px 0px 1px white,
                -100px -100px 0px 1px white,
                -150px -100px 0px 1px white,
                50px -100px 0px 1px white,
                100px -100px 0px 1px white,
                150px -100px 0px 1px white,
                50px -150px 0px 1px skyblue,
                80px -150px 0px 1px skyblue,
                -50px -150px 0px 1px skyblue,
                -80px -150px 0px 1px skyblue,
                150px -180px 0px 1px white,
                100px -180px 0px 1px white,
                50px -180px 0px 1px white,
                0px -180px 0px 1px white,
                -50px -180px 0px 1px white,
                -100px -180px 0px 1px white,
                -150px -180px 0px 1px white,
                150px -220px 0px 1px,
                100px -220px 0px 1px,
                50px -220px 0px 1px,
                0px -220px 0px 1px,
                -50px -220px 0px 1px,
                -100px -220px 0px 1px,
                -150px -220px 0px 1px;
    color: yellow
}
.mesa {
    background-color: rgb(165, 108, 42);
    
}
.compu {
    background-color: aquamarine;
    box-shadow: 0px 0px 0px 20px gray,
                0px 40px 0px 17px gray;

}
